<div class="jumbotron-mt4">
    <h1 class="display-4">REGISTRO</h1>
    <p class="lead"> bienvenido al sistema de inventarios</p>
    <hr class="my-4">
    <p>ingrese sno se que</p>
    <a></a>
</div>
